/* img {
  display: none;
} */

#initially-hidden {
  display: none;
}

#initially-showing {
  display: block;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
